%header.navbar.navbar-static-top
   .navbar-inner
      .container.pull-left
         = link_to("TRACE ME", root_path, :alt=>"Home", :title=>"Home Page", :class=>"brand")
         %nav
            %ul.nav.nav-pills
               %li{:class=>"divider-vertical"}
               %li= link_to "Posts", posts_path, :id=>"posts"
               %li{:class=>"divider-vertical"}
               %li= link_to "About", about_path, :id=>"about", :class=>"header-item"
               %li{:class=>"divider-vertical"}
               -if signed_in?
                  %li= link_to "New Post", createpost_path, :id=>"posts"
                  %li{:class=>"divider-vertical"}
                  %li= link_to "Sign Out", signout_path, method: "delete", :id=>"posts"
                  %li{:class=>"divider-vertical"}
               -else
                  %li= link_to "Sign In", signin_path, :id=>"login", :class=>"header-item"
